/* Put your CSS Styling here! */
body {
    margin: 20px;
}
h1 {
    margin: 10px;    
}
img {
    margin: 20px;
    right: 80px;
}
#hidden_miscar{
    display: none;
}
#list:hover + #hidden_miscar{
    display: block;
}