<!-- Put the HTML template for your page here! -->
<!DOCTYPE html>


<html>
<head>
        <title>flask fun</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    </head>

    <body>
        <div id = "sidebar">
            <p> no time </p>
        </div>
        <div id="titles">
        <h1> FRC </h1>
        <img src = "{{ url_for('static', filename = 'frc.png') }}">
        <h2> The best teams </h2>
        </div>
        <div id="info">    
            {% if no_names %}
                <p> its fun and I'm the best </p>
            {% else %}
                <ul id = "list">
                    {% for names in names %}
                    <li> {{names}} </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <img src = "{{ url_for('static', filename = 'miscar.jpeg') }}" id = "hidden_miscar">
        </div>
    </body>
</html>